
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body{
    background-size: cover;
    background-position: center;
}
button{
    font-size: 80px;
    width: 30%;
    border-radius: 50px;
}
canvas{
    box-shadow: 10px 10px 10px rgb(136, 70, 221);
    border-radius: 30px;
    margin-top: 50px;
}
